mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(74, 21, 75);

  mat-icon {
    opacity: 0.6;
    margin-right: 15px;
    cursor: pointer;
  }

  .headerFirstSection {
    display: flex;
    align-items: center;
  }

  .headerSecondSection {
    display: flex;
    align-items: center;
  }

  img {
    width: 35px;
    height: 35px;
    border-radius: 10%;
    object-fit: cover;
    cursor: pointer;
  }

  input {
    background-color: rgb(101, 70, 101);
    border-radius: 8px;
    padding: 8px;
    padding-left: 140px;
    padding-right: 140px;
    border: none;
  }
}

.not-logged-in {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
}
