@import "../../assets/variable.scss";

h3 {
  margin-bottom: 2px;
}

.user {
  display: flex;
  position: relative;
  margin: $spacing-S 0;
  padding: 0 $spacing-S;
  transition: $transition-ms;
  &:hover {
    background-color: #3f3f3f;
    .icon-holder {
      display: flex;
    }
  }
  .message {
    width: 100%;
  }

  .profile-pic {
    margin-right: 6px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }
  }

  .user-name:hover {
    cursor: pointer;
  }

  .user-time-stamp {
    display: flex;
    flex-direction: row;
    .time-stamp {
      margin-left: $spacing-XS;
    }
  }

  .thread-answ {
    margin-top: $spacing-XS;
    padding: 2px;
    display: flex;
    border: 1px solid transparent;
    color: $secondary;
    cursor: pointer;
    transition: $transition-ms;

    &:hover {
      background-color: $darkGray;
      border: 1px solid $white-tr;
      border-radius: $brd-radius;
      .hidden {
        display: flex;
        justify-content: space-between;
      }
      .open {
        display: none;
      }
    }
    .thread-answ-info {
      margin-left: $spacing-M;
      color: $white;
    }
    .hidden {
      display: none;
    }
    .open {
      display: flex;
    }
  }
}

.hover-react {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: $spacing-S;
  transform: translateY(-50%);
  flex-direction: row;
  z-index: 1;
  background-color: white;
  border-radius: 6px;
  padding-top: $spacing-XS;
  padding-bottom: 2px;

  span {
    font-size: 18px;
    margin-left: $spacing-XS;
    padding-right: 8px;
    color: $black;
  }

  .react-icons {
    width: 18px;
    height: 18px;
    margin-bottom: -2px;
  }

  .hover-effect {
    margin-left: 12px;
  }

  .hover-effect:hover {
    cursor: pointer;
  }
}

.uploaded-image {
  display: flex;
  object-fit: cover;
  height: 250px;
  margin-top: $spacing-XS;
}

#dialog {
  display: none;
  position: absolute;
  text-align: center;
  background-color: black;
  border-radius: 8px;
  top: 40%;
  left: 50%;
  height: $spacing-XL;
  width: 200px;
  padding-top: 18px;
}

mat-drawer-content {
  height: calc(100vh - 64px);
}

.sidebarHeader {
  mat-toolbar {
    background-color: rgb(82, 38, 83);
  }

  :hover {
    background-color: rgb(74, 21, 75);
  }
}

.channel-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 128px);
  .channel {
    overflow: auto;
  }
  .input {
    margin: 0 $spacing-S $spacing-S;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 64px);
  background-color: rgb(82, 38, 83);

  .sidebar-active {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $brd-radius $brd-radius 0 0;
    height: 40px;
    background-color: rgb(82, 38, 83);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px -2px 2px rgb(0 0 0 / 10%);
    color: rgb(170, 159, 159);

    .sidebar-active-text {
      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
}

.thread-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;

  div {
    display: flex;
    align-items: baseline;

    span {
      margin-left: $spacing-S;
      font-size: 12px;
      color: $white-tr;
    }
  }
}

.icon-holder {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  .icon-bar {
    background-color: $darkGray;
    border: 1px solid $white-tr;
    border-radius: $brd-radius;
    display: flex;
    .emo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      margin: $spacing-XS;
      cursor: pointer;
    }
    mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: $spacing-XS;
      cursor: pointer;
    }
  }
}
