<router-outlet></router-outlet>

<app-header></app-header>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened
    ><mat-toolbar>
      <span>SIDEBAR-HEADDER</span>
    </mat-toolbar>
    <div class="sidebar">
      <app-sidebar></app-sidebar>
      <div class="sidebar-active">Active-Sidebar-Topping</div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <span>OUTPUT-HEADDER</span>
    </mat-toolbar>
    <app-output></app-output>
    <app-input class="input" #input></app-input>
  </mat-drawer-content>
</mat-drawer-container>
