<app-header></app-header>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened
    ><mat-toolbar>
      <span>SIDEBAR-HEADDER</span>
    </mat-toolbar>
    <div class="sidebar">
      <app-sidebar></app-sidebar>
      <div class="sidebar-active">Active-Sidebar-Topping</div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <span>OUTPUT-HEADDER</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-input class="input" #input></app-input>
  </mat-drawer-content>

  <mat-drawer mode="side" opened position="end">
    <mat-toolbar class="thread-header">
      <div>
        <h2>Thread</h2>
        <span># 'Side-topping'</span>
      </div>
      <button mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <app-thread></app-thread>
  </mat-drawer>
</mat-drawer-container>
