<div class="holder">
  <form class="form">
    <div class="icon-holder" *ngIf="formatting">
      <p
        matTooltip="bold type"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
      >
        B
      </p>
      <p
        matTooltip="italic type"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
      >
        <i>I</i>
      </p>
      <p
        matTooltip="crossed out "
        matTooltipPosition="above"
        matTooltipShowDelay="250"
      >
        <s>S</s>
      </p>
      <div class="vr"></div>
      <mat-icon
        matTooltip="link"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        >add_link</mat-icon
      >
      <div
        matTooltip=""
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        class="vr"
      ></div>
      <mat-icon
        matTooltip="numbered list"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        >format_list_numbered</mat-icon
      >
      <mat-icon
        matTooltip="bullet list"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        >format_list_bulleted</mat-icon
      >
      <div class="vr"></div>
      <mat-icon
        matTooltip="block quote"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        >align_horizontal_left</mat-icon
      >
      <div class="vr"></div>
      <mat-icon
        (click)="textToFunction()"
        matTooltip="code"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        >code</mat-icon
      >
      <mat-icon
        matTooltip="code block"
        matTooltipPosition="above"
        matTooltipShowDelay="250"
        >check_box_outline_blank</mat-icon
      >
    </div>

    <input
      [ngClass]="{ red: textRed }"
      #input
      placeholder="Nachricht an #{{ fire.actChannel }}"
    />
    <div class="img-preview-container">
      <img class="img-preview" *ngIf="showPreview" [src]="fb" />
      <mat-icon
        class="deleteImg"
        *ngIf="showPreview"
        (click)="deleteImgStorage(fb)"
        >delete_forever</mat-icon
      >
    </div>

    <div class="icon-holder space-between">
      <div class="icon-holder">
        <div class="file-upload">
          <mat-icon
            (click)="fileInput.click()"
            matTooltip="upload file"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="white add"
            >add</mat-icon
          >
          <input
            class="upload-input"
            hidden
            #fileInput
            (change)="uploadFile($event)"
            type="file"
            id="file"
            name="image"
            accept=".png, .jpg"
          />
        </div>

        <div class="vr white"></div>
        <mat-icon
          matTooltip=" "
          matTooltipPosition="above"
          matTooltipShowDelay="250"
          class="white"
          >video_camera_front</mat-icon
        >
        <mat-icon
          matTooltip=" "
          matTooltipPosition="above"
          matTooltipShowDelay="250"
          class="white"
          >mic_none</mat-icon
        >
        <div class="vr white"></div>
        <mat-icon
          matTooltip=" "
          matTooltipPosition="above"
          matTooltipShowDelay="250"
          class="white"
          >tag_faces</mat-icon
        >
        <p
          matTooltip=" "
          matTooltipPosition="above"
          matTooltipShowDelay="250"
          class="white"
        >
          @
        </p>

        <ng-container *ngIf="formatting; then isTrue; else isFalse">
        </ng-container>
        <ng-template #isTrue>
          <p
            (click)="toggleFormatting()"
            matTooltip=" "
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="white"
          >
            <u>Aa</u>
          </p>
        </ng-template>
        <ng-template #isFalse>
          <p
            (click)="toggleFormatting()"
            matTooltip=" "
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="white"
          >
            Aa
          </p>
        </ng-template>
      </div>

      <div
        class="icon-holder grey"
        [ngClass]="{ 'green-send-btn': !formatting }"
      >
        <mat-icon
          (click)="sendMessage()"
          matTooltip="send message "
          matTooltipPosition="above"
          matTooltipShowDelay="250"
          >send</mat-icon
        >
        <div class="vr"></div>
        <mat-icon
          matTooltip=" "
          matTooltipPosition="above"
          matTooltipShowDelay="250"
          >keyboard_arrow_down</mat-icon
        >
      </div>
    </div>
  </form>
</div>
