<div class="holder">
  <form class="example-form">
    <div class="icon-holder">
      <p>B</p>
      <p><i>I</i></p>
      <p><s>S</s></p>
      <div class="vr"></div>
      <mat-icon>attach_file</mat-icon>
      <div class="vr"></div>
      <mat-icon>format_list_numbered</mat-icon>
      <mat-icon>format_list_bulleted</mat-icon>
      <div class="vr"></div>
      <mat-icon>align_horizontal_left</mat-icon>
      <div class="vr"></div>
      <mat-icon>ac_unit</mat-icon>
      <mat-icon>ac_unit</mat-icon>
    </div>
    <input placeholder="Nachricht an <Side-Topping>" />
    <div class="icon-holder">
      <div class="icon-holder">
        <mat-icon>ac_unit</mat-icon>
        <mat-icon>ac_unit</mat-icon>
        <mat-icon>ac_unit</mat-icon>
        <div class="vr"></div>
        <mat-icon>ac_unit</mat-icon>
        <mat-icon>ac_unit</mat-icon>
        <mat-icon>ac_unit</mat-icon>
        <div class="vr"></div>
        <mat-icon>ac_unit</mat-icon>
        <mat-icon>ac_unit</mat-icon>
        <mat-icon>ac_unit</mat-icon>
      </div>

      <div class="icon-holder"></div>
    </div>
  </form>
</div>
