@import "../../assets/variable.scss";

.holder {
  border: 1px solid $white;
  border-radius: $brd-radius;
  padding: $spacing-XS;

  form {
    width: 100%;
    overflow: hidden;
    .icon-holder {
      display: flex;
      align-items: center;
      mat-icon,
      .vr,
      p {
        font-size: 24px;
        margin: $spacing-XS;
      }
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $spacing-S;
        i {
          margin-right: 3px;
        }
      }
      .vr {
        background-color: $white;
        height: $spacing-M;
        width: 1px;
      }
    }

    input {
      border: none;
      margin: 0;
      background-color: transparent;
      width: 100%;
      padding: $spacing-XS;
      &:focus {
        outline: none;
        color: $white;
      }
    }
  }
}
