@import "../../../assets/variable.scss";

.holder {
  height: calc(100% - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  mat-card {
    background-color: $darkGray;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
}

.question {
  margin: $spacing-M 0;
}
