/* You can add global styles to this file, and also import other style files */
@import "./assets/variable.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $black;
  color: $white;
}

.addTopicDialog {
  width: 350px;
  input {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
  }

  .inputFields {
      padding-bottom: 10px;
  }
}