<div class="thread-box">
  <div class="message-box">
    <img src="../../assets/img/suit_men.png" alt="" />

    <div class="message">
      <div class="message-header">
        <ng-container *ngIf="auth.isLoggedIn$ | async as user">
          <span>{{ user?.displayName }} </span>
        </ng-container>
        <span>Gestern um 21:18 Uhr</span>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit sequi
        tempora quaerat? Numquam enim, provident natus illum eligendi blanditiis
        ratione?
      </p>
      <p>displayName: {{ displayName }}</p>
      <p>email: {{ email }}</p>
      <p>uid: {{ uid }}</p>
    </div>
  </div>

  <div class="hr">
    <span *ngIf="thread.threadMessages">
      {{ thread.threadMessages.length }} Antworten</span
    >
    <hr />
  </div>

  <div class="messages" *ngFor="let message of thread.threadMessages">
    <div class="message-box">
      <img src="../../assets/img/suit_men.png" alt="" />

      <div class="message">
        <div class="message-header">
          <h3>{{ message.userName ? message.userName : "noName" }}</h3>
          <span>{{ message.timeStamp }}</span>
        </div>
        <p>
          {{ message.message }}
        </p>
      </div>
    </div>
  </div>
</div>

<app-input class="input" [component]="component"></app-input>
