@import "../../assets/variable.scss";

.thread-box {
  padding: $spacing-S;
}

.message-box {
  display: flex;
  align-items: flex-start;
  img {
    height: $spacing-L;
    width: $spacing-L;
    object-fit: cover;
    margin-right: $spacing-S;
    border-radius: $brd-radius;
  }
  .message {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    .message-header {
      display: flex;
      align-items: baseline;
      h3 {
        margin-right: $spacing-S;
      }
      span {
        color: $white-tr;
      }
      .name {
        margin-right: $spacing-XS;
      }
    }
  }
}

.hr {
  display: flex;
  align-items: center;
  margin: $spacing-M 0;
  hr {
    flex: auto;
    margin-left: $spacing-S;
    border: none;
    border-top: 1px solid $white-tr;
    clear: both;
  }
}

app-input {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  margin: $spacing-S;
}
