<div class="thread-box">
  <div class="message-box">
    <img src="../../assets/img/suit_men.png" alt="" />

    <div class="message">
      <div class="message-header">
        <ng-container
          *ngIf="auth.isLoggedIn$ | async as user; else authButtons"
        >
          <span>User {{ user?.displayName }} is logged in</span>
          <button mat-button (click)="signOut()">Sign Out</button>
        </ng-container>
        <h3>User</h3>
        <span>Gestern um 21:18 Uhr</span>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit sequi
        tempora quaerat? Numquam enim, provident natus illum eligendi blanditiis
        ratione?
      </p>
    </div>
  </div>

  <div class="hr">
    <span *ngIf="thread.messages"> {{ thread.messages.length }} Antworten</span>
    <hr />
  </div>

  <div class="messages" *ngFor="let message of thread.messages">
    <div class="message-box">
      <img src="../../assets/img/suit_men.png" alt="" />

      <div class="message">
        <div class="message-header">
          <h3>User-Name</h3>
          <span>{{ message.timeStamp }}</span>
        </div>
        <p>
          {{ message.message }}
        </p>
      </div>
    </div>
  </div>
</div>

<app-input class="input"></app-input>

<ng-template #authButtons>
  <a routerLink="/signin" routerLinkActive="active" mat-button>Signin</a>
  <a routerLink="/signup" routerLinkActive="active" mat-button>Signup</a>
</ng-template>
